body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 40px;
  color: #333;
}

.admin-container {
  max-width: 900px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.08);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #6A2328;
}

.admin-button {
  display: inline-block;
  background: rgb(131, 14, 14);
  color: white;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.admin-button:hover {
  background: #3f191b;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #ecf0f1;
}

.resetar_filtro {

  color: rgb(32, 32, 32);
  padding: 8px 12px;
  margin: 4px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  font-family: sans-serif;
  display: inline-block;
}

.resetar_filtro:hover {
  color: rgb(0, 0, 0);
}


.botao-menu {
  display: inline-block;
  background-color: #6A2328;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.botao-menu:hover {
  background-color: #4d171b;
}

