body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 20px;
  color: #333;
}

.container {
  max-width: 900px;
  margin: auto;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #741e24;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #ecf0f1;
  color: #2c3e50;
}

tr:hover {
  background-color: #f1f1f1;
}

.botao-relatorio {
  background-color: #6A2328;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.botao-relatorio:hover {
  background-color: #ad2932;
}

.botao-menu {
  display: inline-block;
  background-color: #6A2328;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.botao-menu:hover {
  background-color: #4d171b;
}


.botao-excluir {
  background-color: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin: 10px;
  margin-left: 30px;
  padding: 8px 16px;
  border-radius: 4px;
}

.botao-excluir:hover {
  background-color: #c0392b;
}